PDF/  
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

SEÇÃO 16 - SISTEMA JOGO DE XADREZ/
/SEÇÃO 22 - INTERFACE JAVA FX/JavaFXApplication2/nbproject/private/
/SEÇÃO 22 - INTERFACE JAVA FX/JavaFXApplication2/dist/
/SEÇÃO 22 - INTERFACE JAVA FX/JavaFXApplication2/build/
/SEÇÃO 22 - INTERFACE JAVA FX - ALERT/JavaFxAlert/nbproject/private/
/SEÇÃO 22 - INTERFACE JAVA FX - ALERT/JavaFxAlert/build/
/SEÇÃO 22 - INTERFACE JAVA FX - ALERT/JavaFxAlert/dist/
/SEÇÃO 22 - INTERFACE JAVA FX - SOMA/JavaFxSoma/nbproject/private/
/SEÇÃO 22 - INTERFACE JAVA FX - SOMA/JavaFxSoma/dist/
/SEÇÃO 22 - INTERFACE JAVA FX - SOMA/JavaFxSoma/build/
/SEÇÃO 22 - INTERFACE JAVA FAX - LIMITAÇÕES E INITIALIZABLE/JavaFxInit/nbproject/private/
/SEÇÃO 22 - INTERFACE JAVA FAX - LIMITAÇÕES E INITIALIZABLE/JavaFxInit/dist/
/SEÇÃO 22 - INTERFACE JAVA FAX - LIMITAÇÕES E INITIALIZABLE/JavaFxInit/build/
/SEÇÃO 22 - INTERFACE JAVA FX - COMBOBOX/JavaFxcOMBObOX/nbproject/private/
/SEÇÃO 22 - INTERFACE JAVA FX - COMBOBOX/JavaFxcOMBObOX/build/
/SEÇÃO 22 - INTERFACE JAVA FX - COMBOBOX/JavaFxcOMBObOX/dist/